p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}


.container {
    padding: 50px 15px;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* text-align: center; */
}

.label {
    position: relative;
    display: inline-block;
    margin-right: 100px;
    font-size: 20px;
    font-weight: 500;
}

#steps {
    margin-right: 50px;
}
.btn {
    position: relative;
    width: 200px;
    height: 50px;
}
select {
    width: 200px;
    height: 50px;
    /* transform: rotateX(180deg); */
}
option {
    position: absolute;
    left: 0;
    top: 100%;
}
.output-container {
    margin-top: 30px;
}
.output {
    padding: 20px;
}
.output-content {
    display: inline-block;
    font-size: 20px;
    margin-right: 55px;
}

.step-value {
    display: inline-block;
}

.arrow-down {
    width: 20px;
    height: 20px;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(50%); */


}
.wrapper {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: absolute;
top: 50%;
transform: translateY(-50%);
right: 0;
display: flex;
justify-content: center;
align-items: center;
}

.js-transform {
    transform: rotate(180deg);
}

.steps {
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    text-align: center;
}

.btn-cont {
    
}
